/*
 * PostCSS styles to test Rollup’s handling of them.
 */

/* Variables */
$color-heading: #111;
$color-text: #999;
$color-gradient-start: #aaa;
$color-lightest: #ccc;
$font-family: sans-serif;

html, body {
  height: 100%;
}

/* Simple reset. */
body,* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 2rem;
  color: $color-text;
  font-family: $font-family;
  font-size: 18px;

  /* Add some CSS3 stuff. */
  background-image: linear-gradient(to bottom,
    $color-gradient-start 0%,
    $color-lightest 100%
  );
  background-repeat: no-repeat;

  /* Lobotomize the owls, because they were starting to organize. */
  *+* {
    margin-top: 1rem;
  }
}

h1 {
  color: $color-heading;
}

/* split.js */
.main {
  display: flex;
  flex-direction: row;
}


.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .content {
    background-color: $color-lightest;
  }
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;

  &.gutter-horizontal {
    cursor: col-resize;
    border: 1px solid black;
    width: 10px;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  }

  &.gutter-vertical {
    cursor: row-resize;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
  }
}


/* d3 NodeTree */
svg {
  .link {
    fill: none;
    stroke: rgba(100, 100, 100, 0.2);
    stroke-width: 1.0px;
  }
  .node {
    cursor: pointer;
    circle {
      fill: rgba(100, 100, 100, 0.2);
      stroke: rgba(100, 100, 100, 0.4);
      stroke-width: 1px;
    }
    text {
      font-family: $font-family;
      font-weight: Regular;
      font-size: 14px;
      letter-spacing: 0.8px;
      fill: $color-text;
    }
  }

}

/* Style the JS-generated output. */
.debug {

  /* Pseudo-elements, like a goddamn boss. */
  &::before {
    content: 'Script Output:';
    display: block;
    font-family: $font-family;
    font-size: 50%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  /* This is a nested approach to BEM-style selectors. */
  &__output {
    display: block;
    margin-top: 0.25rem;
    padding: 1rem;
    background-color: $color-lightest;

    /* The color() function works thanks to `postcss-cssnext`. */
    border: 1px solid color( $color-text tint(75%) );
    font-size: 80%;
  }
}

.credits {
  color: color( $color-text tint(50%) );
  font-size: 75%;
  text-align: center;

  a {
    color: inherit;
  }
}
